@use 'paritial';

//Generel styling
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  font-family: paritial.$font;  
  background-color: paritial.$bg-color;
    p{
        font-size: 16px;
        color: paritial.$txt-color;
        line-height: 1.5;
    }

    h1,h2.h3,h4,h5,h6{
        font-weight: 600;
        color: paritial.$bg-color;
    }
}
img{
    width: 100%;
    height: auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
}
//Navigation

header{
    grid-column: 1/6;
    @include paritial.flex($justify: space-between);
    background-color: paritial.$nav-color;
    border-bottom: 4px solid paritial.$primary-color;
}

nav{
    height: 5em;
    padding: 1em;
    @include paritial.flex($justify: space-between);
        img{
            width: 70px
        };

        ul{
            @include paritial.flex;
            list-style-type: none;
        }

        a{
            color: paritial.$txt-color;
            padding: paritial.$padding;
            margin: paritial.$padding;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover{
            color: paritial.$primary-color;
        }




}

.mobile-nav{
    .bars{
        display: none;
        cursor: pointer
    }
}
.toggleShow{
    display: flex;
    flex-direction: column;
}
.active{
    color: paritial.$primary-color;
}

//Header billede
.header-img{
    position: relative;
    margin-bottom: 1em;
        .banner-tekst{
            position: absolute;
            top: 25%;
            left: 5%;
        }

        h1{
            font-size: 3.5vw;
        }
        p{
            font-size: 2vw;
        }
        a{
            @include paritial.btn;
            position: absolute;

                &:hover{
                    background-color: paritial.$secondary-color;
                    transition: 0.3s ease-in-out;
                }
        }
}

.bg-billede-mobil{
    display: none;
}
